<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AR</key>
	<string>Argentina</string>
	<key>AT</key>
	<string>Austria</string>
	<key>AU</key>
	<string>Australia</string>
	<key>BE</key>
	<string>Belgium</string>
	<key>BY</key>
	<string>Belarus</string>
	<key>BG</key>
	<string>Bulgaria</string>
	<key>BR</key>
	<string>Brazil</string>
	<key>CA</key>
	<string>Canada</string>
	<key>CH</key>
	<string>Switzerland</string>
	<key>CL</key>
	<string>Chile</string>
	<key>CN</key>
	<string>China</string>
	<key>CO</key>
	<string>Colombia</string>
	<key>CZ</key>
	<string>Czech Republic</string>
	<key>DE</key>
	<string>Germany</string>
	<key>DK</key>
	<string>Denmark</string>
	<key>EE</key>
	<string>Estonia</string>
	<key>ES</key>
	<string>Spain</string>
	<key>FI</key>
	<string>Finland</string>
	<key>FR</key>
	<string>France</string>
	<key>GB</key>
	<string>United Kingdom</string>
	<key>GR</key>
	<string>Greece</string>
	<key>HK</key>
	<string>Hong Kong (China)</string>
	<key>HR</key>
	<string>Croatia</string>
	<key>HU</key>
	<string>Hungary</string>
	<key>ID</key>
	<string>Indonesia</string>
	<key>IE</key>
	<string>Ireland</string>
	<key>IN</key>
	<string>India</string>
	<key>IT</key>
	<string>Italy</string>
	<key>JP</key>
	<string>Japan</string>
	<key>KR</key>
	<string>South Korea</string>
	<key>LT</key>
	<string>Lithuania</string>
	<key>LV</key>
	<string>Latvia</string>
	<key>MX</key>
	<string>Mexico</string>
	<key>MY</key>
	<string>Malaysia</string>
	<key>NL</key>
	<string>Netherlands</string>
	<key>NO</key>
	<string>Norway</string>
	<key>NZ</key>
	<string>New Zealand</string>
	<key>PE</key>
	<string>Peru</string>
	<key>PH</key>
	<string>Philippines</string>
	<key>PK</key>
	<string>Pakistan</string>
	<key>PL</key>
	<string>Poland</string>
	<key>PT</key>
	<string>Portugal</string>
	<key>RO</key>
	<string>Romania</string>
	<key>RU</key>
	<string>Russia</string>
	<key>RW</key>
	<string>Rwanda</string>
	<key>SA</key>
	<string>Saudi Arabia</string>
	<key>SE</key>
	<string>Sweden</string>
	<key>SG</key>
	<string>Singapore</string>
	<key>SI</key>
	<string>Slovenia</string>
	<key>SK</key>
	<string>Slovakia</string>
	<key>TH</key>
	<string>Thailand</string>
	<key>TR</key>
	<string>Turkey</string>
	<key>TW</key>
	<string>Taiwan</string>
	<key>UA</key>
	<string>Ukraine</string>
	<key>US</key>
	<string>United States</string>
	<key>VN</key>
	<string>Vietnam</string>
	<key>ZA</key>
	<string>South Africa</string>
</dict>
</plist>
