<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CTN</key>
	<array>
		<string>HD9240/90</string>
		<string>RQ1250/17</string>
		<string>HD3197/03</string>
		<string>HX6321_02</string>
		<string>SC2009/00</string>
		<string>PR3743/00</string>
		<string>PR3840/00</string>
		<string>S9711/31</string>
		<string>S9511/26</string>
		<string>S9031/12</string>
		<string>HD8967_01</string>
		<string>RQ1150/16</string>
		<string>SC5994/00</string>
		<string>SC2008/11</string>
		<string>SCD888/26</string>
	</array>
</dict>
</plist>
