<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>United States</key>
	<string>US</string>
	<key>United Kingdom</key>
	<string>GB</string>
	<key>Netherlands</key>
	<string>NL</string>
	<key>Belgium</key>
	<string>BE</string>
	<key>Germany</key>
	<string>DE</string>
	<key>Austria</key>
	<string>AT</string>
	<key>Bulgaria</key>
	<string>BG</string>
	<key>Croatia</key>
	<string>HR</string>
	<key>Czech Republic</key>
	<string>CZ</string>
	<key>Denmark</key>
	<string>DK</string>
	<key>Finland</key>
	<string>FI</string>
	<key>France</key>
	<string>FR</string>
	<key>Hungary</key>
	<string>HU</string>
	<key>Ireland</key>
	<string>IE</string>
	<key>Italy</key>
	<string>IT</string>
	<key>Poland</key>
	<string>PL</string>
	<key>Portugal</key>
	<string>PT</string>
	<key>Romania</key>
	<string>RO</string>
	<key>Slovakia</key>
	<string>SK</string>
	<key>Spain</key>
	<string>ES</string>
	<key>Sweden</key>
	<string>SE</string>
	<key>China Mainland</key>
	<string>CN</string>
	<key>Russia</key>
	<string>RU</string>
</dict>
</plist>
