<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>COCO Versions</key>
	<array>
		<dict>
			<key>SectionHeader</key>
			<string>COCO Versions</string>
			<key>Details</key>
			<array>
				<dict>
					<key>Title</key>
					<string>PhilipsProductRegistration - 2.2.5 - SNAPSHOT</string>
					<key>AccessoryType</key>
					<string>Discolsure</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>PhilipsConsumerCare - 6.2.5 - SNAPSHOT</string>
					<key>AccessoryType</key>
					<string>Discolsure</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>InAppPurchase - 5.2.5 - SNAPSHOT</string>
					<key>AccessoryType</key>
					<string>Discolsure</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>DataServices - 1.0.0 - SNAPSHOT</string>
					<key>AccessoryType</key>
					<string>Discolsure</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>CommShineLibAdapter - 1.2.2 - SNAPSHOT</string>
					<key>AccessoryType</key>
					<string>Discolsure</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>CPPClient - 3.1.2 - SNAPSHOT</string>
					<key>AccessoryType</key>
					<string>Discolsure</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Welcome</key>
	<array>
		<dict>
			<key>VideoID</key>
			<string>app.splashvideo</string>
			<key>VideoThumbnail</key>
			<string>VideoThumbnail</string>
			<key>BackgroundImage</key>
			<string></string>
			<key>LandscapeImage</key>
			<string></string>
			<key>WelcomeThumnail</key>
			<string></string>
			<key>Title</key>
			<dict>
				<key>Align</key>
				<string>Top</string>
				<key>Text</key>
				<string>RA_DLS_onboarding_screen1_title</string>
			</dict>
			<key>Description</key>
			<dict>
				<key>Align</key>
				<string>Middle</string>
				<key>Text</key>
				<string>RA_DLS_onboarding_screen1_sub_text</string>
			</dict>
		</dict>
		<dict>
			<key>BackgroundImage</key>
			<string>WelcomeScreen1</string>
			<key>LandscapeImage</key>
			<string>WelcomeScreen1L</string>
			<key>WelcomeThumnail</key>
			<string>WelcomeIcon1</string>
			<key>Title</key>
			<dict>
				<key>Align</key>
				<string>Top</string>
				<key>Text</key>
				<string>RA_DLS_onboarding_screen2_title</string>
			</dict>
			<key>Description</key>
			<dict>
				<key>Align</key>
				<string>Middle</string>
				<key>Text</key>
				<string>RA_DLS_onboarding_screen2_sub_text</string>
			</dict>
		</dict>
		<dict>
			<key>BackgroundImage</key>
			<string>WelcomeScreen2</string>
			<key>LandscapeImage</key>
			<string>WelcomeScreen2L</string>
			<key>WelcomeThumnail</key>
			<string>WelcomeIcon2</string>
			<key>Title</key>
			<dict>
				<key>Align</key>
				<string>Top</string>
				<key>Text</key>
				<string>RA_DLS_onboarding_screen3_title</string>
			</dict>
			<key>Description</key>
			<dict>
				<key>Align</key>
				<string>Middle</string>
				<key>Text</key>
				<string>RA_DLS_onboarding_screen3_sub_text</string>
			</dict>
		</dict>
		<dict>
			<key>BackgroundImage</key>
			<string>WelcomeScreen3</string>
			<key>LandscapeImage</key>
			<string>WelcomeScreen3L</string>
			<key>WelcomeThumnail</key>
			<string>WelcomeIcon3</string>
			<key>Title</key>
			<dict>
				<key>Align</key>
				<string>Top</string>
				<key>Text</key>
				<string>RA_DLS_onboarding_screen4_title</string>
			</dict>
			<key>Description</key>
			<dict>
				<key>Align</key>
				<string>Middle</string>
				<key>Text</key>
				<string>RA_DLS_onboarding_screen4_sub_text</string>
			</dict>
		</dict>
		<dict>
			<key>BackgroundImage</key>
			<string>WelcomeScreen4</string>
			<key>LandscapeImage</key>
			<string>WelcomeScreen4L</string>
			<key>WelcomeThumnail</key>
			<string>WelcomeIcon4</string>
			<key>Title</key>
			<dict>
				<key>Align</key>
				<string>Top</string>
				<key>Text</key>
				<string>RA_DLS_onboarding_screen5_title</string>
			</dict>
			<key>Description</key>
			<dict>
				<key>Align</key>
				<string>Middle</string>
				<key>Text</key>
				<string>RA_DLS_onboarding_screen5_sub_text</string>
			</dict>
		</dict>
		<dict>
			<key>BackgroundImage</key>
			<string>WelcomeScreen5</string>
			<key>LandscapeImage</key>
			<string>WelcomeScreen5L</string>
			<key>WelcomeThumnail</key>
			<string>WelcomeIcon5</string>
			<key>Title</key>
			<dict>
				<key>Align</key>
				<string>Top</string>
				<key>Text</key>
				<string>RA_DLS_onboarding_screen6_title</string>
			</dict>
			<key>Description</key>
			<dict>
				<key>Align</key>
				<string>Middle</string>
				<key>Text</key>
				<string>RA_DLS_onboarding_screen6_sub_text</string>
			</dict>
		</dict>
		<dict>
			<key>BackgroundImage</key>
			<string>WelcomeScreen6</string>
			<key>LandscapeImage</key>
			<string>WelcomeScreen6L</string>
			<key>WelcomeThumnail</key>
			<string>WelcomeIcon6</string>
			<key>Title</key>
			<dict>
				<key>Align</key>
				<string>Top</string>
				<key>Text</key>
				<string>RA_DLS_onboarding_screen7_title</string>
			</dict>
			<key>Description</key>
			<dict>
				<key>Align</key>
				<string>Middle</string>
				<key>Text</key>
				<string>RA_DLS_onboarding_screen7_sub_text</string>
			</dict>
		</dict>
		<dict>
			<key>BackgroundImage</key>
			<string>WelcomeScreen7</string>
			<key>LandscapeImage</key>
			<string>WelcomeScreen7L</string>
			<key>WelcomeThumnail</key>
			<string>WelcomeIcon7</string>
			<key>Title</key>
			<dict>
				<key>Align</key>
				<string>Top</string>
				<key>Text</key>
				<string>RA_DLS_onboarding_screen8_title</string>
			</dict>
			<key>Description</key>
			<dict>
				<key>Align</key>
				<string>Middle</string>
				<key>Text</key>
				<string>RA_DLS_onboarding_screen8_sub_text</string>
			</dict>
		</dict>
		<dict>
			<key>BackgroundImage</key>
			<string>WelcomeScreen8</string>
			<key>LandscapeImage</key>
			<string>WelcomeScreen8L</string>
			<key>WelcomeThumnail</key>
			<string>WelcomeIcon8</string>
			<key>Title</key>
			<dict>
				<key>Align</key>
				<string>Top</string>
				<key>Text</key>
				<string>RA_DLS_onboarding_screen9_title</string>
			</dict>
			<key>Description</key>
			<dict>
				<key>Align</key>
				<string>Middle</string>
				<key>Text</key>
				<string>RA_DLS_onboarding_screen9_sub_text</string>
			</dict>
		</dict>
	</array>
	<key>HamburgerMenu</key>
	<array>
		<dict>
			<key>Title</key>
			<string>RA_DLS_HomeScreen_Title</string>
			<key>Image</key>
			<string>Home</string>
			<key>MenuId</key>
			<string>Home</string>
			<key>ScreenTitle</key>
			<string>RA_HomeScreen_Title</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>RA_Philips_Shop_Menu_Title</string>
			<key>Image</key>
			<string>Shopping</string>
			<key>MenuId</key>
			<string>Shopping</string>
			<key>ScreenTitle</key>
			<string>RA_Philips_Shop_Menu_Title</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>RA_Support_Menu_Title</string>
			<key>Image</key>
			<string>Help</string>
			<key>MenuId</key>
			<string>Help</string>
			<key>ScreenTitle</key>
			<string>RA_Support_Menu_Title</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>RA_About_Menu_Title</string>
			<key>Image</key>
			<string>About</string>
			<key>MenuId</key>
			<string>About</string>
			<key>ScreenTitle</key>
			<string>RA_AboutScreen_Title</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Test Demo Apps</string>
			<key>Image</key>
			<string>TestDemoApps</string>
			<key>MenuId</key>
			<string>TestDemoApps</string>
			<key>ScreenTitle</key>
			<string>Test Demo Apps</string>
		</dict>
	</array>
	<key>ProductInfo</key>
	<array>
		<string>HX6064/33</string>
	</array>
	<key>ProductInfoChina</key>
	<array>
		<string>HX6721/33</string>
	</array>
	<key>Chapters</key>
	<array>
		<dict>
			<key>ChapterName</key>
			<string>Chapter Mobile</string>
			<key>ChapterCocoDemoApps</key>
			<array>
				<dict>
					<key>CoCoDemoAppName</key>
					<string>Test User Registration Demo</string>
					<key>CoCoDemoEventID</key>
					<string>TestUserRegistrationEvent</string>
				</dict>
				<dict>
					<key>CoCoDemoAppName</key>
					<string>Test Product Registration Demo</string>
					<key>CoCoDemoEventID</key>
					<string>TestProductRegistrationEvent</string>
				</dict>
				<dict>
					<key>CoCoDemoAppName</key>
					<string>Test In App Purchase Demo</string>
					<key>CoCoDemoEventID</key>
					<string>TestInAppPurhcaseEvent</string>
				</dict>
				<dict>
					<key>CoCoDemoAppName</key>
					<string>Test Philips e-Commerce SDK Test  Demo</string>
					<key>CoCoDemoEventID</key>
					<string>TestPhilipsEcommerceTestSDKEvent</string>
				</dict>
				<dict>
					<key>CoCoDemoAppName</key>
					<string>Test Mobile e-Commerce  Demo</string>
					<key>CoCoDemoEventID</key>
					<string>TestMobileEcommerceSDKEvent</string>
				</dict>
				<dict>
					<key>CoCoDemoAppName</key>
					<string>Test Consumer Care Demo</string>
					<key>CoCoDemoEventID</key>
					<string>TestConsumerCareEvent</string>
				</dict>
				<dict>
					<key>CoCoDemoAppName</key>
					<string>Test App Infra Demo</string>
					<key>CoCoDemoEventID</key>
					<string>TestAppInfraEvent</string>
				</dict>
				<dict>
					<key>CoCoDemoAppName</key>
					<string>Test Chatbot Demo</string>
					<key>CoCoDemoEventID</key>
					<string>TestChatbotEvent</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ChapterName</key>
			<string>App info</string>
			<key>CoCoDemoEventID</key>
			<string>ComponentVersions</string>
		</dict>
	</array>
</dict>
</plist>
