<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Home</string>
		<key>image</key>
		<string>Home</string>
		<key>sbId</key>
		<string>homeViewController</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Secure Storage</string>
		<key>image</key>
		<string>Secure Storage</string>
		<key>sbId</key>
		<string>securityViewController</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>App Tagging</string>
		<key>image</key>
		<string>App Tagging</string>
		<key>sbId</key>
		<string>DemoTaggingViewController</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Logging</string>
		<key>Title</key>
		<string>Logging</string>
		<key>sbId</key>
		<string>LoggerListViewController</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>AppUpdate</string>
		<key>image</key>
		<string>AppUpdate</string>
		<key>sbId</key>
		<string>AppUpdateViewController</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Language Pack</string>
		<key>image</key>
		<string>LanguagePack</string>
		<key>sbId</key>
		<string>LanguagePack</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>App Identity</string>
		<key>image</key>
		<string>App Identity</string>
		<key>sbId</key>
		<string>AppIdentityController</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>ServiceDiscovery</string>
		<key>image</key>
		<string>ServiceDiscovery</string>
		<key>sbId</key>
		<string>ServiceDiscoveryVC</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Time</string>
		<key>image</key>
		<string>Time</string>
		<key>sbId</key>
		<string>timeController</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Internationalization</string>
		<key>image</key>
		<string>Internationalization</string>
		<key>sbId</key>
		<string>DemoInternationalization</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>AppConfiguration</string>
		<key>image</key>
		<string>AppConfiguration</string>
		<key>sbId</key>
		<string>MicroAppConfiguration</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Rest Client</string>
		<key>image</key>
		<string>RestClient</string>
		<key>sbId</key>
		<string>RestClient</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Content Loader</string>
		<key>image</key>
		<string>Content Loader</string>
		<key>sbId</key>
		<string>contentLoader</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Swift Testing</string>
		<key>image</key>
		<string>Swift Testing</string>
		<key>sbId</key>
		<string>SwiftTesting</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>ABTest</string>
		<key>image</key>
		<string>ABTest</string>
		<key>sbId</key>
		<string>ABTest</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>APISigning</string>
		<key>image</key>
		<string>APISigning</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Exit</string>
		<key>image</key>
		<string>Exit</string>
		<key>sbId</key>
		<string>ExitViewController</string>
	</dict>
</array>
</plist>
