<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllMicroservices</key>
	<array>
		<dict>
			<key>DisplayName</key>
			<string>OCC Microservices</string>
			<key>MicroServiceGroups</key>
			<array>
				<dict>
					<key>MainMicroServiceName</key>
					<string>Configure ECS Microservices</string>
					<key>EmbeddedMicroServices</key>
					<array>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>ConfigureECSWithConfiguration</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>configureECSWithConfiguration</string>
							<key>HidesClearButton</key>
							<true/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>MainMicroServiceName</key>
					<string>OAuth Microservices</string>
					<key>EmbeddedMicroServices</key>
					<array>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>HybrisOAuthAuthentication</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>hybrisOAuthAuthentication</string>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Access Token</string>
									<key>InputPlaceholderName</key>
									<string>Enter Access Token</string>
									<key>InputIdentifier</key>
									<integer>900</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Client ID</string>
									<key>InputPlaceholderName</key>
									<string>Enter Client ID</string>
									<key>InputIdentifier</key>
									<integer>901</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Client Secret</string>
									<key>InputPlaceholderName</key>
									<string>Enter Client Secret</string>
									<key>InputIdentifier</key>
									<integer>902</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Grant Type</string>
									<key>InputPlaceholderName</key>
									<string>Enter Grant Type</string>
									<key>InputIdentifier</key>
									<integer>936</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>HybrisRefreshOAuth</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>hybrisRefreshOAuth</string>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Refresh Token</string>
									<key>InputPlaceholderName</key>
									<string>Enter Refresh Token</string>
									<key>InputIdentifier</key>
									<integer>903</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Client ID</string>
									<key>InputPlaceholderName</key>
									<string>Enter Client ID</string>
									<key>InputIdentifier</key>
									<integer>901</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Client Secret</string>
									<key>InputPlaceholderName</key>
									<string>Enter Client Secret</string>
									<key>InputIdentifier</key>
									<integer>902</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Grant Type</string>
									<key>InputPlaceholderName</key>
									<string>Enter Grant Type</string>
									<key>InputIdentifier</key>
									<integer>936</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>RefreshJanrain</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>refreshJanrain</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>MainMicroServiceName</key>
					<string>Retailers Microservices</string>
					<key>EmbeddedMicroServices</key>
					<array>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>FetchRetailerDetailsForCTN</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>fetchRetailerDetailsForCTN</string>
							<key>HidesClearButton</key>
							<true/>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>RetailerProductCTN</string>
									<key>InputPlaceholderName</key>
									<string>Enter Product CTN</string>
									<key>InputIdentifier</key>
									<integer>906</integer>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>MainMicroServiceName</key>
					<string>Voucher Microservices</string>
					<key>EmbeddedMicroServices</key>
					<array>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>FetchAppliedVouchers</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>fetchAppliedVouchers</string>
							<key>HidesClearButton</key>
							<true/>
						</dict>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>ApplyVoucher</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>applyVoucher</string>
							<key>HidesClearButton</key>
							<true/>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>VoucherID</string>
									<key>InputPlaceholderName</key>
									<string>Enter Voucher ID</string>
									<key>InputIdentifier</key>
									<integer>911</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>RemoveVoucher</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>removeVoucher</string>
							<key>HidesClearButton</key>
							<true/>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>VoucherID</string>
									<key>InputPlaceholderName</key>
									<string>Enter Voucher ID</string>
									<key>InputIdentifier</key>
									<integer>911</integer>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>MainMicroServiceName</key>
					<string>Delivery Mode Microservices</string>
					<key>EmbeddedMicroServices</key>
					<array>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>FetchDeliveryModes</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>fetchDeliveryModes</string>
						</dict>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>SetDeliveryMode</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>setDeliveryMode</string>
							<key>HidesClearButton</key>
							<true/>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>2</integer>
									<key>InputDisplayName</key>
									<string>DeliveryMode</string>
									<key>InputPlaceholderName</key>
									<string>Select a Delivery Mode ID from the list</string>
									<key>InputIdentifier</key>
									<integer>912</integer>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>MainMicroServiceName</key>
					<string>Fetch Regions Microservices</string>
					<key>EmbeddedMicroServices</key>
					<array>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>FetchRegionsForCountryISO</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>fetchRegionsForCountryISO</string>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>CountryISO</string>
									<key>InputPlaceholderName</key>
									<string>Enter Country ISO</string>
									<key>InputIdentifier</key>
									<integer>913</integer>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>MainMicroServiceName</key>
					<string>Address Microservices</string>
					<key>EmbeddedMicroServices</key>
					<array>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>FetchSavedAddresses</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>fetchSavedAddresses</string>
						</dict>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>CreateAddressWithSingleAddressReturn</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>createAddressWithSingleAddressReturn</string>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>FirstName</string>
									<key>InputPlaceholderName</key>
									<string>Enter First Name</string>
									<key>InputIdentifier</key>
									<integer>918</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>LastName</string>
									<key>InputPlaceholderName</key>
									<string>Enter Last Name</string>
									<key>InputIdentifier</key>
									<integer>921</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>HouseNumber</string>
									<key>InputPlaceholderName</key>
									<string>Enter House Number</string>
									<key>InputIdentifier</key>
									<integer>920</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Line1</string>
									<key>InputPlaceholderName</key>
									<string>Enter Line1</string>
									<key>InputIdentifier</key>
									<integer>922</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Line2</string>
									<key>InputPlaceholderName</key>
									<string>Enter Line2</string>
									<key>InputIdentifier</key>
									<integer>923</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Town</string>
									<key>InputPlaceholderName</key>
									<string>Enter Town</string>
									<key>InputIdentifier</key>
									<integer>916</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Phone</string>
									<key>InputPlaceholderName</key>
									<string>Enter Phone</string>
									<key>InputIdentifier</key>
									<integer>924</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Phone1</string>
									<key>InputPlaceholderName</key>
									<string>Enter Phone1</string>
									<key>InputIdentifier</key>
									<integer>925</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Phone2</string>
									<key>InputPlaceholderName</key>
									<string>Enter Phone2</string>
									<key>InputIdentifier</key>
									<integer>926</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>PostalCode</string>
									<key>InputPlaceholderName</key>
									<string>Enter Postal Code</string>
									<key>InputIdentifier</key>
									<integer>927</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>TitleCode</string>
									<key>InputPlaceholderName</key>
									<string>Enter Title Code</string>
									<key>InputIdentifier</key>
									<integer>929</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>2</integer>
									<key>InputDisplayName</key>
									<string>Region</string>
									<key>InputPlaceholderName</key>
									<string>Select a region from the list</string>
									<key>InputIdentifier</key>
									<integer>913</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Country</string>
									<key>InputPlaceholderName</key>
									<string>Enter Country</string>
									<key>InputIdentifier</key>
									<integer>930</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>CreateAddressWithAddressListReturn</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>createAddressWithAddressListReturn</string>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>FirstName</string>
									<key>InputPlaceholderName</key>
									<string>Enter First Name</string>
									<key>InputIdentifier</key>
									<integer>918</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>LastName</string>
									<key>InputPlaceholderName</key>
									<string>Enter Last Name</string>
									<key>InputIdentifier</key>
									<integer>921</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>HouseNumber</string>
									<key>InputPlaceholderName</key>
									<string>Enter House Number</string>
									<key>InputIdentifier</key>
									<integer>920</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Line1</string>
									<key>InputPlaceholderName</key>
									<string>Enter Line1</string>
									<key>InputIdentifier</key>
									<integer>922</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Line2</string>
									<key>InputPlaceholderName</key>
									<string>Enter Line2</string>
									<key>InputIdentifier</key>
									<integer>923</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Town</string>
									<key>InputPlaceholderName</key>
									<string>Enter Town</string>
									<key>InputIdentifier</key>
									<integer>916</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Phone</string>
									<key>InputPlaceholderName</key>
									<string>Enter Phone</string>
									<key>InputIdentifier</key>
									<integer>924</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Phone1</string>
									<key>InputPlaceholderName</key>
									<string>Enter Phone1</string>
									<key>InputIdentifier</key>
									<integer>925</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Phone2</string>
									<key>InputPlaceholderName</key>
									<string>Enter Phone2</string>
									<key>InputIdentifier</key>
									<integer>926</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>PostalCode</string>
									<key>InputPlaceholderName</key>
									<string>Enter Postal Code</string>
									<key>InputIdentifier</key>
									<integer>927</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>TitleCode</string>
									<key>InputPlaceholderName</key>
									<string>Enter Title Code</string>
									<key>InputIdentifier</key>
									<integer>929</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>2</integer>
									<key>InputDisplayName</key>
									<string>Region</string>
									<key>InputPlaceholderName</key>
									<string>Select a region from the list</string>
									<key>InputIdentifier</key>
									<integer>913</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Country</string>
									<key>InputPlaceholderName</key>
									<string>Enter Country</string>
									<key>InputIdentifier</key>
									<integer>930</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>UpdateAddressWithSuccessReturn</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>updateAddressWithSuccessReturn</string>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>2</integer>
									<key>InputDisplayName</key>
									<string>Address</string>
									<key>InputPlaceholderName</key>
									<string>Select Address from list</string>
									<key>InputIdentifier</key>
									<integer>931</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>FirstName</string>
									<key>InputPlaceholderName</key>
									<string>Enter First Name</string>
									<key>InputIdentifier</key>
									<integer>918</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>LastName</string>
									<key>InputPlaceholderName</key>
									<string>Enter Last Name</string>
									<key>InputIdentifier</key>
									<integer>921</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>HouseNumber</string>
									<key>InputPlaceholderName</key>
									<string>Enter House Number</string>
									<key>InputIdentifier</key>
									<integer>920</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Line1</string>
									<key>InputPlaceholderName</key>
									<string>Enter Line1</string>
									<key>InputIdentifier</key>
									<integer>922</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Line2</string>
									<key>InputPlaceholderName</key>
									<string>Enter Line2</string>
									<key>InputIdentifier</key>
									<integer>923</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Town</string>
									<key>InputPlaceholderName</key>
									<string>Enter Town</string>
									<key>InputIdentifier</key>
									<integer>916</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Phone</string>
									<key>InputPlaceholderName</key>
									<string>Enter Phone</string>
									<key>InputIdentifier</key>
									<integer>924</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Phone1</string>
									<key>InputPlaceholderName</key>
									<string>Enter Phone1</string>
									<key>InputIdentifier</key>
									<integer>925</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Phone2</string>
									<key>InputPlaceholderName</key>
									<string>Enter Phone2</string>
									<key>InputIdentifier</key>
									<integer>926</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>PostalCode</string>
									<key>InputPlaceholderName</key>
									<string>Enter Postal Code</string>
									<key>InputIdentifier</key>
									<integer>927</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>TitleCode</string>
									<key>InputPlaceholderName</key>
									<string>Enter Title Code</string>
									<key>InputIdentifier</key>
									<integer>929</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>2</integer>
									<key>InputDisplayName</key>
									<string>Region</string>
									<key>InputPlaceholderName</key>
									<string>Select a region from the list</string>
									<key>InputIdentifier</key>
									<integer>913</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Country</string>
									<key>InputPlaceholderName</key>
									<string>Enter Country</string>
									<key>InputIdentifier</key>
									<integer>930</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>UpdateAddressWithAddressListReturn</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>updateAddressWithAddressListReturn</string>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>2</integer>
									<key>InputDisplayName</key>
									<string>Address</string>
									<key>InputPlaceholderName</key>
									<string>Select Address from list</string>
									<key>InputIdentifier</key>
									<integer>931</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>FirstName</string>
									<key>InputPlaceholderName</key>
									<string>Enter First Name</string>
									<key>InputIdentifier</key>
									<integer>918</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>LastName</string>
									<key>InputPlaceholderName</key>
									<string>Enter Last Name</string>
									<key>InputIdentifier</key>
									<integer>921</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>HouseNumber</string>
									<key>InputPlaceholderName</key>
									<string>Enter House Number</string>
									<key>InputIdentifier</key>
									<integer>920</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Line1</string>
									<key>InputPlaceholderName</key>
									<string>Enter Line1</string>
									<key>InputIdentifier</key>
									<integer>922</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Line2</string>
									<key>InputPlaceholderName</key>
									<string>Enter Line2</string>
									<key>InputIdentifier</key>
									<integer>923</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Town</string>
									<key>InputPlaceholderName</key>
									<string>Enter Town</string>
									<key>InputIdentifier</key>
									<integer>916</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Phone</string>
									<key>InputPlaceholderName</key>
									<string>Enter Phone</string>
									<key>InputIdentifier</key>
									<integer>924</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Phone1</string>
									<key>InputPlaceholderName</key>
									<string>Enter Phone1</string>
									<key>InputIdentifier</key>
									<integer>925</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Phone2</string>
									<key>InputPlaceholderName</key>
									<string>Enter Phone2</string>
									<key>InputIdentifier</key>
									<integer>926</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>PostalCode</string>
									<key>InputPlaceholderName</key>
									<string>Enter Postal Code</string>
									<key>InputIdentifier</key>
									<integer>927</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>TitleCode</string>
									<key>InputPlaceholderName</key>
									<string>Enter Title Code</string>
									<key>InputIdentifier</key>
									<integer>929</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>2</integer>
									<key>InputDisplayName</key>
									<string>Region</string>
									<key>InputPlaceholderName</key>
									<string>Select a region from the list</string>
									<key>InputIdentifier</key>
									<integer>913</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Country</string>
									<key>InputPlaceholderName</key>
									<string>Enter Country</string>
									<key>InputIdentifier</key>
									<integer>930</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>SetDeliveryAddressWithSuccessReturn</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>setDeliveryAddressWithSuccessReturn</string>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>2</integer>
									<key>InputDisplayName</key>
									<string>Address</string>
									<key>InputPlaceholderName</key>
									<string>Select Address from list</string>
									<key>InputIdentifier</key>
									<integer>931</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>2</integer>
									<key>InputDisplayName</key>
									<string>DefaultAddress</string>
									<key>InputPlaceholderName</key>
									<string>Select True/False value</string>
									<key>InputIdentifier</key>
									<integer>915</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>SetDeliveryAddressWithAddressListReturn</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>setDeliveryAddressWithAddressListReturn</string>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>2</integer>
									<key>InputDisplayName</key>
									<string>Address</string>
									<key>InputPlaceholderName</key>
									<string>Select Address from list</string>
									<key>InputIdentifier</key>
									<integer>931</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>2</integer>
									<key>InputDisplayName</key>
									<string>DefaultAddress</string>
									<key>InputPlaceholderName</key>
									<string>Select True/False value</string>
									<key>InputIdentifier</key>
									<integer>915</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>DeleteAddressWithSuccessReturn</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>deleteAddressWithSuccessReturn</string>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>2</integer>
									<key>InputDisplayName</key>
									<string>Address</string>
									<key>InputPlaceholderName</key>
									<string>Select Address from list</string>
									<key>InputIdentifier</key>
									<integer>931</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>DeleteAddressWithAddressListReturn</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>deleteAddressWithAddressListReturn</string>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>2</integer>
									<key>InputDisplayName</key>
									<string>Address</string>
									<key>InputPlaceholderName</key>
									<string>Select Address from list</string>
									<key>InputIdentifier</key>
									<integer>931</integer>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>MainMicroServiceName</key>
					<string>Place Order Microservices</string>
					<key>EmbeddedMicroServices</key>
					<array>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>FetchPaymentDetails</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>fetchPaymentDetails</string>
						</dict>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>SetPaymentDetail</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>setPaymentDetail</string>
							<key>HidesClearButton</key>
							<true/>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>2</integer>
									<key>InputDisplayName</key>
									<string>PaymentDetail</string>
									<key>InputPlaceholderName</key>
									<string>Select Payment Detail from the list</string>
									<key>InputIdentifier</key>
									<integer>932</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>SubmitOrder</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>submitOrder</string>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>CVVCode</string>
									<key>InputPlaceholderName</key>
									<string>Enter CVVCode</string>
									<key>InputIdentifier</key>
									<integer>933</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>MakePaymentForOrder</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>makePaymentForOrder</string>
							<key>HidesClearButton</key>
							<true/>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>2</integer>
									<key>InputDisplayName</key>
									<string>OrderToPlace</string>
									<key>InputPlaceholderName</key>
									<string>Select Order from the list</string>
									<key>InputIdentifier</key>
									<integer>934</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>2</integer>
									<key>InputDisplayName</key>
									<string>BillingAddress</string>
									<key>InputPlaceholderName</key>
									<string>Select Address from the list</string>
									<key>InputIdentifier</key>
									<integer>931</integer>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>MainMicroServiceName</key>
					<string>Order History Microservices</string>
					<key>EmbeddedMicroServices</key>
					<array>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>FetchOrderHistory</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>fetchOrderHistory</string>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>1</integer>
									<key>InputDisplayName</key>
									<string>Page Size</string>
									<key>InputPlaceholderName</key>
									<string>Enter Page Size</string>
									<key>InputIdentifier</key>
									<integer>904</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>1</integer>
									<key>InputDisplayName</key>
									<string>Current Page</string>
									<key>InputPlaceholderName</key>
									<string>Enter Current Page</string>
									<key>InputIdentifier</key>
									<integer>905</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>FetchOrderDetailsForOrder</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>fetchOrderDetailsForOrder</string>
							<key>HidesClearButton</key>
							<true/>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>2</integer>
									<key>InputDisplayName</key>
									<string>PlacedOrder</string>
									<key>InputPlaceholderName</key>
									<string>Select Order from the list</string>
									<key>InputIdentifier</key>
									<integer>934</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>FetchOrderDetailsForOrderDetail</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>fetchOrderDetailsForOrderDetail</string>
							<key>HidesClearButton</key>
							<true/>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>2</integer>
									<key>InputDisplayName</key>
									<string>PlacedOrderDetail</string>
									<key>InputPlaceholderName</key>
									<string>Select Order Detail from the list</string>
									<key>InputIdentifier</key>
									<integer>934</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>FetchOrderDetailsForOrderID</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>fetchOrderDetailsForOrderID</string>
							<key>HidesClearButton</key>
							<true/>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>OrderID</string>
									<key>InputPlaceholderName</key>
									<string>Enter Order ID</string>
									<key>InputIdentifier</key>
									<integer>935</integer>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>MainMicroServiceName</key>
					<string>Profile Microservices</string>
					<key>EmbeddedMicroServices</key>
					<array>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>FetchUserProfile</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>fetchUserProfile</string>
							<key>HidesClearButton</key>
							<true/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>PIL Microservices</string>
			<key>MicroServiceGroups</key>
			<array>
				<dict>
					<key>MainMicroServiceName</key>
					<string>PIL Products Microservices</string>
					<key>EmbeddedMicroServices</key>
					<array>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>FetchProducts</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>fetchPILProducts</string>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Category</string>
									<key>InputPlaceholderName</key>
									<string>Enter category to filter</string>
									<key>InputIdentifier</key>
									<integer>939</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>1</integer>
									<key>InputDisplayName</key>
									<string>Offset</string>
									<key>InputPlaceholderName</key>
									<string>Enter offset</string>
									<key>InputIdentifier</key>
									<integer>905</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>1</integer>
									<key>InputDisplayName</key>
									<string>Limit</string>
									<key>InputPlaceholderName</key>
									<string>Enter limit</string>
									<key>InputIdentifier</key>
									<integer>904</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>2</integer>
									<key>InputDisplayName</key>
									<string>Sort Type</string>
									<key>InputPlaceholderName</key>
									<string>Enter sorting type</string>
									<key>InputIdentifier</key>
									<integer>937</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>2</integer>
									<key>InputDisplayName</key>
									<string>Stock Level</string>
									<key>InputPlaceholderName</key>
									<string>Enter stock level</string>
									<key>InputIdentifier</key>
									<integer>938</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>FetchProductForCTN</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>fetchPILProductForCTN</string>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>CTN</string>
									<key>InputPlaceholderName</key>
									<string>Enter CTN</string>
									<key>InputIdentifier</key>
									<integer>906</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>FetchProductSummariesForCTNs</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>fetchPILProductSummariesForCTNs</string>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>CTNs</string>
									<key>InputPlaceholderName</key>
									<string>Enter comma separated CTNs</string>
									<key>InputIdentifier</key>
									<integer>907</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>FetchProductDetailsForProduct</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>fetchPILProductDetailsForProduct</string>
							<key>HidesClearButton</key>
							<true/>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>2</integer>
									<key>InputDisplayName</key>
									<string>Product</string>
									<key>InputPlaceholderName</key>
									<string>Select a CTN from the list</string>
									<key>InputIdentifier</key>
									<integer>908</integer>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>MainMicroServiceName</key>
					<string>PIL Cart Microservices</string>
					<key>EmbeddedMicroServices</key>
					<array>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>CreateShoppingCart</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>createPILShoppingCart</string>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Enter CTN</string>
									<key>InputPlaceholderName</key>
									<string>Please enter the CTN</string>
									<key>InputIdentifier</key>
									<integer>906</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>1</integer>
									<key>InputDisplayName</key>
									<string>Enter quantity</string>
									<key>InputPlaceholderName</key>
									<string>Enter product quantity</string>
									<key>InputIdentifier</key>
									<integer>909</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>FetchShoppingCart</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>fetchPILShoppingCart</string>
						</dict>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>AddProductToCart</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>addPILProductToCart</string>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Enter CTN</string>
									<key>InputPlaceholderName</key>
									<string>Please enter the CTN</string>
									<key>InputIdentifier</key>
									<integer>906</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>1</integer>
									<key>InputDisplayName</key>
									<string>Enter quantity</string>
									<key>InputPlaceholderName</key>
									<string>Enter product quantity</string>
									<key>InputIdentifier</key>
									<integer>909</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>UpdateShoppingCart</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>updatePILShoppingCart</string>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>1</integer>
									<key>InputDisplayName</key>
									<string>Quantity</string>
									<key>InputPlaceholderName</key>
									<string>Add Quantity</string>
									<key>InputIdentifier</key>
									<integer>909</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>2</integer>
									<key>InputDisplayName</key>
									<string>CartEntry</string>
									<key>InputPlaceholderName</key>
									<string>Select Cart Entry number from list</string>
									<key>InputIdentifier</key>
									<integer>910</integer>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>MainMicroServiceName</key>
					<string>PIL NotifyMe Microservices</string>
					<key>EmbeddedMicroServices</key>
					<array>
						<dict>
							<key>EmbeddedMicroServicesName</key>
							<string>NotifyMe</string>
							<key>EmbeddedMicroServicesIdentifier</key>
							<string>registerForProductAvailability</string>
							<key>HidesClearButton</key>
							<true/>
							<key>EmbeddedMicroServicesInput</key>
							<array>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Enter CTN</string>
									<key>InputPlaceholderName</key>
									<string>Please enter the CTN</string>
									<key>InputIdentifier</key>
									<integer>906</integer>
								</dict>
								<dict>
									<key>InputType</key>
									<integer>0</integer>
									<key>InputDisplayName</key>
									<string>Enter email</string>
									<key>InputPlaceholderName</key>
									<string>Enter email</string>
									<key>InputIdentifier</key>
									<integer>940</integer>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
