<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>download.p4c.philips.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>images.philips.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>ph-india.livecom.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>CentraleSans-Bold.ttf</string>
		<string>puicon.ttf</string>
		<string>CentraleSans-BoldItalic.ttf</string>
		<string>CentraleSans-Book.ttf</string>
		<string>CentraleSans-BookItalic.ttf</string>
		<string>CentraleSans-Hairline.ttf</string>
		<string>CentraleSans-HairlineItalic.ttf</string>
		<string>CentraleSans-Light.ttf</string>
		<string>CentraleSans-LightItalic.ttf</string>
		<string>CentraleSans-Medium.ttf</string>
		<string>CentraleSans-MediumItalic.ttf</string>
		<string>CentraleSans-Thin.ttf</string>
		<string>CentraleSans-ThinItalic.ttf</string>
		<string>CentraleSans-XBold.ttf</string>
		<string>CentraleSans-XBoldItalic.ttf</string>
		<string>CentraleSans-XLight.ttf</string>
		<string>CentraleSans-XLightItalic.ttf</string>
		<string>CentraleSans-XThin.ttf</string>
		<string>CentraleSans-XThinItalic.ttf</string>
		<string>CentraleSansCnd-Bold.ttf</string>
		<string>CentraleSansCnd-BoldItalic.ttf</string>
		<string>CentraleSansCnd-Book.ttf</string>
		<string>CentraleSansCnd-BookItalic.ttf</string>
		<string>CentraleSansCnd-Hairline.ttf</string>
		<string>CentraleSansCnd-HairlineItalic.ttf</string>
		<string>CentraleSansCnd-Light.ttf</string>
		<string>CentraleSansCnd-LightItalic.ttf</string>
		<string>CentraleSansCnd-Medium.ttf</string>
		<string>CentraleSansCnd-MediumItalic.ttf</string>
		<string>CentraleSansCnd-Thin.ttf</string>
		<string>CentraleSansCnd-ThinItalic.ttf</string>
		<string>CentraleSansCnd-XBold.ttf</string>
		<string>CentraleSansCnd-XBoldItalic.ttf</string>
		<string>CentraleSansCnd-XLight.ttf</string>
		<string>CentraleSansCnd-XLightItalic.ttf</string>
		<string>CentraleSansCnd-XThin.ttf</string>
		<string>CentraleSansCnd-XThinItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
