<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.philips.dt.unit.cocoaTouchFramework</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.frameworkBase</string>
		<string>com.apple.dt.unit.languageChoice</string>
		<string>com.apple.dt.unit.iosBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for a Philips micro App. It provides basic required classes to create a micro app.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>AssociatedTargetSpecification</key>
	<dict>
		<key>PopUpTitle</key>
		<string>Embed in Application:</string>
		<key>PopUpDescription</key>
		<string>This template provides a starting point for an uApp. It provides a basic required classes to create a micro app.</string>
		<key>AllowableProductTypes</key>
		<array>
			<string>com.apple.product-type.application</string>
		</array>
		<key>AllowablePlatforms</key>
		<array>
			<string>com.apple.platform.iphoneos</string>
		</array>
		<key>AssociatedTargetIsDependent</key>
		<true/>
		<key>AssociatedTargetNeedsProductBuildPhaseInjection</key>
		<true/>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>hasUnitTests</string>
			<key>Name</key>
			<string>Include Unit Tests</string>
			<key>NotPersisted</key>
			<true/>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Identifier</key>
							<string>com.apple.dt.unit.cocoaTouchFrameworkUnitTestBundle</string>
							<key>Name</key>
							<string>___PACKAGENAME___Tests</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>___PROJECTNAMEASIDENTIFIER___/UAPPClasses/___PROJECTNAMEASIDENTIFIER___Dependencies.h</string>
						<string>___PROJECTNAMEASIDENTIFIER___/UAPPClasses/___PROJECTNAMEASIDENTIFIER___Dependencies.m</string>
						<string>___PROJECTNAMEASIDENTIFIER___/UAPPClasses/___PROJECTNAMEASIDENTIFIER___Interface.h</string>
						<string>___PROJECTNAMEASIDENTIFIER___/UAPPClasses/___PROJECTNAMEASIDENTIFIER___Interface.m</string>
						<string>___PROJECTNAMEASIDENTIFIER___/UAPPClasses/___PROJECTNAMEASIDENTIFIER___LaunchInput.h</string>
						<string>___PROJECTNAMEASIDENTIFIER___/UAPPClasses/___PROJECTNAMEASIDENTIFIER___LaunchInput.m</string>
						<string>___PROJECTNAMEASIDENTIFIER___/UAPPClasses/___PROJECTNAMEASIDENTIFIER___Settings.h</string>
						<string>___PROJECTNAMEASIDENTIFIER___/UAPPClasses/___PROJECTNAMEASIDENTIFIER___Settings.m</string>
						<string>../Podfile</string>
						<string>../___PROJECTNAMEASIDENTIFIER___.podspec</string>
						<string>../___PROJECTNAMEASIDENTIFIER___ViewController.h</string>
						<string>../___PROJECTNAMEASIDENTIFIER___ViewController.m</string>
						<string>../Main.storyboard</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>___PROJECTNAMEASIDENTIFIER___/UAPPClasses/___PROJECTNAMEASIDENTIFIER___Dependencies.swift</string>
						<string>___PROJECTNAMEASIDENTIFIER___/UAPPClasses/___PROJECTNAMEASIDENTIFIER___Interface.swift</string>
						<string>___PROJECTNAMEASIDENTIFIER___/UAPPClasses/___PROJECTNAMEASIDENTIFIER___LaunchInput.swift</string>
						<string>___PROJECTNAMEASIDENTIFIER___/UAPPClasses/___PROJECTNAMEASIDENTIFIER___Settings.swift</string>
						<string>../Podfile</string>
						<string>../___PROJECTNAMEASIDENTIFIER___.podspec</string>
						<string>../___PROJECTNAMEASIDENTIFIER___ViewController.swift</string>
						<string>../Main.storyboard</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>TARGETED_DEVICE_FAMILY</key>
			<string>1,2</string>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaTouchLibraryOrFrameworkTarget</string>
			<key>SharedSettings</key>
			<dict>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/Frameworks @loader_path/Frameworks</string>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>___PACKAGENAME___.h</key>
		<dict>
			<key>BuildAttributes</key>
			<array>
				<string>Public</string>
			</array>
		</dict>
		<key>___PROJECTNAMEASIDENTIFIER___/UAPPClasses/___PROJECTNAMEASIDENTIFIER___Dependencies.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>UAPPClasses</string>
			</array>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___Dependencies.swift</string>
		</dict>
		<key>___PROJECTNAMEASIDENTIFIER___/UAPPClasses/___PROJECTNAMEASIDENTIFIER___Interface.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>UAPPClasses</string>
			</array>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___Interface.swift</string>
		</dict>
		<key>___PROJECTNAMEASIDENTIFIER___/UAPPClasses/___PROJECTNAMEASIDENTIFIER___LaunchInput.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>UAPPClasses</string>
			</array>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___LaunchInput.swift</string>
		</dict>
		<key>___PROJECTNAMEASIDENTIFIER___/UAPPClasses/___PROJECTNAMEASIDENTIFIER___Settings.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>UAPPClasses</string>
			</array>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___Settings.swift</string>
		</dict>
		<key>../Podfile</key>
		<dict>
			<key>Path</key>
			<string>Podfile</string>
		</dict>
		<key>../___PROJECTNAMEASIDENTIFIER___.podspec</key>
		<dict>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___.podspec</string>
		</dict>
		<key>../___PROJECTNAMEASIDENTIFIER___ViewController.h</key>
		<dict>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___ViewController.h</string>
		</dict>
		<key>../___PROJECTNAMEASIDENTIFIER___ViewController.m</key>
		<dict>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___ViewController.m</string>
		</dict>
		<key>../___PROJECTNAMEASIDENTIFIER___ViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___ViewController.swift</string>
		</dict>
		<key>../Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
		</dict>
		<key>___PROJECTNAMEASIDENTIFIER___/UAPPClasses/___PROJECTNAMEASIDENTIFIER___Dependencies.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>UAPPClasses</string>
			</array>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___Dependencies.h</string>
		</dict>
		<key>___PROJECTNAMEASIDENTIFIER___/UAPPClasses/___PROJECTNAMEASIDENTIFIER___Dependencies.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>UAPPClasses</string>
			</array>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___Dependencies.m</string>
		</dict>
		<key>___PROJECTNAMEASIDENTIFIER___/UAPPClasses/___PROJECTNAMEASIDENTIFIER___Interface.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>UAPPClasses</string>
			</array>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___Interface.h</string>
		</dict>
		<key>___PROJECTNAMEASIDENTIFIER___/UAPPClasses/___PROJECTNAMEASIDENTIFIER___Interface.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>UAPPClasses</string>
			</array>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___Interface.m</string>
		</dict>
		<key>___PROJECTNAMEASIDENTIFIER___/UAPPClasses/___PROJECTNAMEASIDENTIFIER___LaunchInput.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>UAPPClasses</string>
			</array>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___LaunchInput.h</string>
		</dict>
		<key>___PROJECTNAMEASIDENTIFIER___/UAPPClasses/___PROJECTNAMEASIDENTIFIER___LaunchInput.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>UAPPClasses</string>
			</array>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___LaunchInput.m</string>
		</dict>
		<key>___PROJECTNAMEASIDENTIFIER___/UAPPClasses/___PROJECTNAMEASIDENTIFIER___Settings.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>UAPPClasses</string>
			</array>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___Settings.h</string>
		</dict>
		<key>___PROJECTNAMEASIDENTIFIER___/UAPPClasses/___PROJECTNAMEASIDENTIFIER___Settings.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>UAPPClasses</string>
			</array>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___Settings.m</string>
		</dict>
	</dict>
</dict>
</plist>
